@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Playfair+Display&family=Raleway&display=swap');





/* SECTION 1 */
.main-div{
  /* background-image: url('../assets/bg-shape3-home6.png'); */
  /* background-position: center; */
  background-color: #0049b1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  height: auto;
}
.section1-main2-div{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 110vh;
  background-image: url('../assets/bg-banner-home6.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.section1-main3-div{
  display: flex;
  flex-direction: row;
}
.typewriter{
    color: white;
    /* font-family: 'PlayFair Display', sans-serif; */
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;

}

.text-section1{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 2rem;
  /* align-items: flex-start ; */
  /* justify-content: center; */
}
.it-home-pic{
  width: 75%;
  height: auto;
  margin-right: 2rem;
}
.img-div{
  display: flex;
  justify-content: flex-end;
  max-width: 55%;
  margin-top: 15vh;
}

.p-section1-part1{
  color: #0EC6FF;
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.p-section1-part2{
  color: #0EC6FF;
  font-size: 1.45rem;
  text-align: left;
}

.unlocking-text-div{
  display: flex;
  align-items: flex-start;
}

.unlocking-text{
  color: white;
  font-size: 4rem;
  align-self: flex-start;
  font-weight: bolder;
  justify-content: flex-start;
  text-align: left;
}

.contactus-home-btn{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #fe4c1c;
  width: 19vh;
  height: 2rem;
  align-items: center;
  border-radius: 7rem 7rem 7rem 7rem;
  color: white;
  font-weight: bolder;
  margin-top: 1rem;
}
.contactus-home-btn-p{
  margin-top: 0.4rem;
}


/* SECTION 1 - MOBILE */

@media screen and (max-width: 650px){
  
  .section1-main3-div{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .typewriter{
    color: white;
    /* font-family: 'PlayFair Display', sans-serif; */
    font-weight: 800;
    font-size: 22px;
    text-align: center;
  }
  .it-home-pic{
    width: 100%;
    height: auto;
  }
  .img-div{
    max-width: 100%;
    margin-top: 15vh;
  }
  .text-section1{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    /* margin-left: 2rem; */
    
    align-items: center;
    /* justify-content: center; */
  }
  
  .section1-main2-div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: auto;
    background-image: url('../assets/bg-banner-home6.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Background2 */

.background2{
  background-image: url("../assets/bg-shape1-home6.png");
  height: 500vh;
  background-repeat: no-repeat; 
  z-index: 10;
  background-color: #0049B1;
}

/* SECTION 2 */

.section2-main-div{
  /* height: 200vh; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.small-tittle-div{
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: disc; /* or disc, circle, etc. */
  color: #0EC6FF;  
}

.small-title-p{
  color: #0EC6FF;  
  font-weight: 800;
}

/* li::after{
  position: absolute;
  width: 7px;
  height: 7px;
  background: #0EC6FF;
  border-radius: 100%;
}

li::before{
  position: absolute;
  width: 7px;
  height: 7px;
  background: #0EC6FF;
  border-radius: 100%;
} */

.it-solutions{
  font-family:  'Raleway',sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.card-div{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
} 

.card-div-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 90%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 40vh;
  justify-content: space-evenly;
  border-radius: 1rem;
}

.card-headers{
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-paragraphs{
  width: 75%;
  color: aqua;
  font-weight: 400;
}

.section2-card-icon{
  color: #0EC6FF;
  font-size: 35px;
}

.card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(138, 138, 138, 0.2);
  transform: scale(1.1);
  transition: box-shadow 0.3s ease, transform 0.5s ease; /* Add a smooth transition effect */
}

/* Section2 mobile */
@media screen and (max-width: 600px){
  
  .card-div-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }
  .it-solutions{
    font-size: 22px;
  }
  .card-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: space-evenly;
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .small-tittle-div{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
  }
}




/* Section 3 */

.section2-2-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0049b1;
  padding-bottom: 5rem;
}
.section2-2-submain{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 5rem;
  width: 100%;
  justify-content: center;
}

.section2-2-content-div{
  max-width: 32%;
  line-height: 1.5rem;
}
.section2-2-image-div{
  width: 30%;
  margin-left: 2.5rem;
}


.section2-2-small-title-main-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dot-1{
  /* position: absolute; */
  width: 7px;
  height: 7px;
  /* margin-left: 20px; */
  background: #0EC6FF;
  border-radius: 100%;
  font-size: 5px;
  margin-top: 8px;

}
.dot-1-p{
  color: #0EC6FF;
}

.section2-2-small-title-div{
  width: fit-content;
  margin-left: 10px;
}

.section2-2-small-title{
  font-weight: 700;
  color: #0EC6FF;
  text-align: left;
  font-size: 1.5rem;
}

.section2-2-title-div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section2-2-title{
  font-family: 'Raleway',sans-serif;
  text-align: start;
  color: white;
  font-weight: 800;
  font-size: 2rem;
  line-height: 30px;
}

.section2-2-para1{
  font-family: 'Raleway',sans-serif;
  font-size: 1.3rem;
  color: white;
  text-align: start;
  line-height: 35px;
}
.section2-2-para2{
  font-size: 1rem;
  color: white;
  text-align: start;
}
.section2-2-para-div{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
}
/* .section2-2-image{
  width: 50rem;
  height: 50rem;
} */

.section2-2-submain2{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35vh;
  margin-top: 1rem;
  margin-bottom: 10vh;
  /* flex-wrap: wrap; */
}

.progress{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
.progress1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.progress-subheaders{
  text-align: center;
  font-size: 1.4rem;
  color: white;
  font-weight: 500;

}

.progressbar2{
  margin-top: 17rem;
}

.outer-path{
  border-radius: 100%;
  border: 15px solid #003F99;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SECTION2-2 mobile */

@media screen and (max-width: 600px) {
  .section2-2-submain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .section2-2-content-div{
    max-width: 90%;
  }
  .section2-2-image-div{
    width: 90%;
    margin-left: 0;
    margin-top: 2rem;
  }   
  .section2-2-small-title-main-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .section2-2-title-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .section2-2-title{
    text-align: left;
    color: white;
    font-weight: 800;
    font-size: 22px;
  }

  .section2-2-para1{
    font-size: 1rem;
    color: white;
    text-align: left;
  }
  .section2-2-para2{
    font-size: 0.75rem;
    color: white;
    text-align: left;
  }
  
  .section2-2-image{
    width: 20rem;
    height: 20rem;
  }

  .section2-2-image-div{
    display: flex;
    justify-content: center;
  }

  .section2-2-submain2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .progress{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }
  .progress1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 2rem;
  }
  .progress-subheaders{
    text-align: center;
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
  
  }
  
  .progressbar2{
    margin-top: 2rem;
  }




}


/* SECTION 3 */

.section3{
  background-image: url(../assets/bg-shape2-home6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 200%;
  /* margin-top: 20vh; */
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  background-color: #1459ba;
}

.section3-main{
  background-image: url("../assets/bg2-dots-home6.png");
  background-repeat: no-repeat;
  /* background-position:top left; */
  background-color: transparent;
  height: auto;  
  width: 100%;
  background-color: #1459ba;
  display: flex;
  justify-content: center;
  /* padding-top: 20vh; */
  /* padding-bottom: 20vh; */
}



/* 
.section3-submain{
  width: 90%;
} */

.section3-headers{
  max-width: 57vh;
  margin-left: 6rem;
  /* margin-top: 2rem; */
}

.tabs{
  margin-top: 2.5rem;
}




@media screen and(max-width:600px) {
  .section3{
    background-image: url(../assets/bg-shape2-home6.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: 20vh; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    background-color: #1459ba;
    overflow-x: hidden;
  }
  
  .section3-main{
    background-image: url("../assets/bg2-dots-home6.png");
    background-repeat: no-repeat;
    /* background-position:top left; */
    background-color: transparent;
    height: auto;  
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
  
  .section3-submain{
    width: 100%;
    overflow-x: hidden;
  }
  .tabs{
    margin-top: 2.5rem;
  }
  
  
}



.section4-main{
  width: 100%;
  background-color: #0049b1; 
  display: flex;  
  /* margin-top: 10vh; */
  /* height: 50rem; */
  /* border: 2px solid red; */
}

.section4-bgoverlay{
  background-image: url(../assets/bg-shape4-home6.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section4-submain{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.section4-image-div{
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section4-content-div{
  max-width: 45%;
}

.section4-para{
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  font-weight: 300;
}


@media screen and (max-width: 600px){
  .section4-submain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

  }
  .section4-image-div{
    max-width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .section4-content-div{
    max-width: 90%;
  }
  .section4-para{
    margin-top: 1rem;
    font-size: 15px;
    text-align: left;
    color: white;
    font-weight: 300;
  }
}

.footer{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0049B1;
  flex-wrap: wrap;
}
.footer-text{
  padding: 1rem;
  color: white;
}