@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu&display=swap');


/* SECTION 1 */
.main-div{
  /* background-image: url('../assets/bg-shape3-home6.png'); */
  /* background-position: center; */
  background-color: #1459BA;
  display: flex;
  flex-direction: column;
}
.section1-main2-div{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 120vh;
  background-image: url('../assets/bg-banner-home6.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.section1-main3-div{
  display: flex;
  flex-direction: row;
}
.typewriter{
    color: white;
    /* font-family: 'PlayFair Display', sans-serif; */
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;

}

.text-section1{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 2rem;
  /* align-items: flex-start ; */
  /* justify-content: center; */
}
.it-home-pic{
  width: 100%;
  height: auto;
}
.img-div{
  max-width: 55%;
  margin-top: 15vh;
}

.p-section1-part1{
  color: #0EC6FF;
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
.p-section1-part2{
  color: #0EC6FF;
  font-size: 1.45rem;
  text-align: left;
}

.unlocking-text-div{
  display: flex;
  align-items: flex-start;
}

.unlocking-text{
  color: white;
  font-size: 4rem;
  align-self: flex-start;
  font-weight: bolder;
  justify-content: flex-start;
  text-align: left;
}

.contactus-home-btn{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #fe4c1c;
  width: 19vh;
  height: 2rem;
  align-items: center;
  border-radius: 7rem 7rem 7rem 7rem;
  color: white;
  font-weight: bolder;
  margin-top: 1rem;
}
.contactus-home-btn-p{
  margin-top: 0.4rem;
}


/* SECTION 1 - MOBILE */

@media screen and (max-width: 650px){
  
  .section1-main3-div{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .typewriter{
    color: white;
    /* font-family: 'PlayFair Display', sans-serif; */
    font-weight: 800;
    font-size: 30px;
    text-align: center;
  }
  .img-div{
    max-width: 100%;
    margin-top: 15vh;
  }
  .text-section1{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    /* margin-left: 2rem; */
    
    align-items: center;
    /* justify-content: center; */
  }
  .main-div{
    overflow: hidden;
    height: 500vh;
    background-repeat: no-repeat;
  }
  .section1-main2-div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: auto;
    background-image: url('../assets/bg-banner-home6.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

}



/* SECTION 2 */

.section2-main-div{
  background-image: url("../assets/bg-shape1-home6.png");
  background-repeat: no-repeat;
  background-color: #0049B1;
  height: 200vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.small-tittle-div{
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: disc; /* or disc, circle, etc. */
  color: #0EC6FF;  
}

.small-title-p{
  color: #0EC6FF;  
  font-weight: 800;
}

li::after{
  position: absolute;
  width: 7px;
  height: 7px;
  background: #0EC6FF;
  border-radius: 100%;
}

li::before{
  position: absolute;
  width: 7px;
  height: 7px;
  background: #0EC6FF;
  border-radius: 100%;
}

.it-solutions{
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.card-div{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
} 

.card-div-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 90%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 40vh;
  justify-content: space-evenly;
  border-radius: 1rem;
}

.card-headers{
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-paragraphs{
  width: 75%;
  color: aqua;
  font-weight: 400;
}

.section2-card-icon{
  color: #0EC6FF;
  font-size: 35px;
}

.card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(169, 169, 169, 0.2);
  transform: scale(1.1);
  transition: box-shadow 0.8s ease, transform 1s ease; /* Add a smooth transition effect */
}

/* Section2 mobile */
@media screen and (max-width: 600px){
  
  .card-div-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }
  .it-solutions{
    font-size: 30px;
  }
  .card-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
    border-radius: 1rem;
  }
  .small-tittle-div{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
  }
}