.footer-main {
    flex-direction: row;
    display: flex;
    width: 100%;
    align-self: center;
    /* margin: 20px; */
    background-color: transparent; /* Use RGBA with alpha channel for transparency */
    justify-content: center;
    height: 5rem;
    border-top: 0.01px solid white;
    padding-left: 20px;
    padding-right: 20px;

    /* border: 1px solid white; */
}

.logo {
    height: 5.5rem;
    width: 7.5rem;
    /* margin: 15px; */
    padding: 10px;
    align-self: center;
}
.rightInner-navbar {
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    margin: 10px;
    align-self: center;
    justify-self: center;
    display: flex;
    height: fit-content;
    width: max-content;

}

.navbar-links {
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
