
.last-section {
    display: flex;
    width: 200%;
    min-height: 700px;
    justify-content: flex-start;
    justify-content:space-around;
    padding: 10;
    background: #0042a1;
    position: relative;
    font-size: large;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
  }
  .social-media-about{
    min-width: 10%;
    
  }
  
  .about-moit{
    max-width:10%;
    margin-left: 50px;
    color:#fff;
    
  }
  .moit-img{
    margin-bottom: 20%;
  }
  .moit-para{
    font-weight: 300;
  }
  
  .social-media li a{
    text-align: left;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-media ul li a:hover {
    color: #0400ff;
  }
  
  .address {
    padding-right: 20px;
    padding-left: 10px;
  }
  
  .social-media {
    padding-left: 20px;
  }

  @media screen and (max-width: 768px){
    
  .last-section{
    width: 100%;
    min-height: 200px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items:flex-start;
    font-size: x-small;
  }
  .about-moit{
    max-width: 30%;
    margin-left: 2%;
  }
  .moit-para{
    justify-content: flex-start;
  }
  .social-media-about{
    padding-left: 30px;
  }
  .social-media li{
    text-decoration: none;
    font-style: none;
  }
  .contact-info{
    padding-left: 70px;
  }
  .address{
    padding-left: 10px;
    padding-right: 80px;
  }
  }

  @media screen and (min-width: 900px){
    .last-section {
        flex-direction: column; /* Change flex-direction to column on larger screens */
        align-items: center; /* Center items on larger screens */
    }
  
    .last-section{
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size:large;
    }
  
  }
  .last-section{
    background-image: url('../assets/bg-box2-home6.png');
  }

  